{% extends '_base.html' %}

{% block content %}
<main class="container">
    <h1>About</h1>
    <div id="about">
        <div class="d-flex justify-content-center py-3">
            <img src="https://via.placeholder.com/350" class="img-fluid" alt="about me placeholder image">
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in sollicitudin dui. Ut malesuada facilisis
            quam vitae lobortis. Nunc sed ex sem. Curabitur condimentum commodo sapien vitae fringilla. Donec nibh
            metus,
            cursus vitae turpis dignissim, bibendum blandit risus. Sed fermentum tellus id lacinia ultrices. Ut
            elementum
            nibh eu ultricies blandit. Nam congue justo eget dui feugiat venenatis.<br><br>

            Fusce elementum tellus et orci imperdiet porttitor. Maecenas tincidunt, elit sed dignissim tincidunt, tortor
            odio auctor nisl, vitae sagittis nunc neque non odio. Phasellus vitae urna a enim luctus euismod eu sed
            urna.
            Nullam mollis felis metus, eget faucibus ligula convallis sed. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Donec quis tellus ac purus venenatis porttitor. Suspendisse viverra, mi et volutpat cursus,
            turpis arcu porta elit, nec sollicitudin justo est ut arcu. </p>
    </div>
</main>
{% endblock %}