{% extends '_base.html' %}

{% block content %}
<main class="container py-3">
    <h1>About</h1>
    <div id="about">
        <div class="d-flex justify-content-center py-3">
            <img src="https://via.placeholder.com/350" class="img-fluid" alt="about me placeholder image">
        </div>
        <p> Hey There. My parents named me Nickolus but I usually go by Nick or Bap. I work as a Senior Technical
            Analyst on the Business Integrity team at Pinterest. Throughout my time working with data, the open source
            and tech communities have shared tons of useful information that has made my job and work much easier. This
            is my space to share useful bits and give back to those that have helped me along the way.<br><br>

            That said, data isn’t the only thing I’m interested in. You might find me sharing about some of my other
            hobbies which include, but are not limited to, fishing, skateboarding or photography. Thanks for stopping
            by!</p>
    </div>
</main>
{% endblock %}