{% extends '_base.html' %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css" />
{% endblock %}

{% block content %}
<main class="container py-3">
    {% include 'components/alerts.html' %}
    <h1>Admin</h1>
    <div id="admin">
        {% if current_user.is_anonymous %}
        <div class="container-fluid d-flex">
            <div class="row justify-content-center text-center w-100">
                <div class="col-md-3 col-sm-6">
                    <h2>Login</h2>
                    <form method="POST" action="{{ url_for('main.admin') }}">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group mb-1">
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback font-weight-bold">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-md", placeholder="Email") }}
                                {% endif %}
                            </div>
                            <div class="form-group mb-1">
                                {{ form.password(class="form-control form-control-md", placeholder="Password") }}
                            </div>
                            {{ form.login(class="btn btn-light") }}
                        </fieldset>
                    </form>
                    </h4>
                </div>
            </div>
        </div>
        {% elif current_user.is_authenticated %}
        <div>
            Hi {{ current_user.username }}!
            <div class="py-3">
                <div class="btn-group py-3" role="group">
                    <button type="button" class="btn btn-secondary">
                        <a class="text-reset text-decoration-none" href="{{ url_for('main.create') }}">New Post</a>
                    </button>
                </div>
                <div id="post-table">
                    {% if posts %}
                    <div class="table-responsive py-3">
                        <table id="data" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Created At</th>
                                    <th scope="col">Published At</th>
                                    <th scope="col">Updated At</th>
                                    <th scope="col">State</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>
                                    <td>
                                        <a href="{{ url_for('main.preview', slug=post.slug) }}">{{ post.title }}</a>
                                    </td>
                                    <td>{{ post.created_at }}</td>
                                    <td>{{ post.published_at if post.published_at else '' }}</td>
                                    <td>{{ post.updated_at }}</td>
                                    <td>
                                        <span class="{{ POST_STATUS_STYLE[post.state] }}">
                                            {{ post.state.title() }}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            "pageLength": 25,
            "order": [
                [3, "desc"]
            ]
        });
    });
</script>
{% endblock %}