{% extends '_base.html' %}

{% block extra_css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.2.0/markdown-it.min.js"
    integrity="sha512-cTQeM/op796Fp1ZUxfech8gSMLT/HvrXMkRGdGZGQnbwuq/obG0UtcL04eByVa99qJik7WlnlQOr5/Fw5B36aw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
{% endblock %}

{% block content %}
<main class="container py-3">
    <div id="alerts">
    </div>
    {% if 'edit' in request.endpoint %}
    <h1>Edit Post</h1>
    {% else %}
    <h1>New Post</h1>
    {% endif %}
    <div class="row">
        <div class="col-sm-6 py-3">
            <h2>Post Editor</h2>
            <div>
                {% if 'edit' in request.endpoint %}
                <form method="POST" action="{{ url_for('main.edit', post_id=post.id) }}">
                {% else %}
                <form method="POST" action="{{ url_for('main.create') }}">
                {% endif %}
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.title.label(class="form-control-label p-1") }}
                        {{ form.title(id="blog-post-title", class="form-control") }}
                        {{ form.slug.label(class="form-control-label p-1") }}
                        {{ form.slug(id="blog-post-slug", class="form-control") }}
                        {{ form.description.label(class="form-control-label p-1") }}
                        {{ form.description(id="blog-post-description", class="form-control") }}
                        {{ form.source.label(class="form-control-label p-1") }}
                        {{ form.source(id="blog-post-editor", class="form-control", only_input=True, rows=30) }}
                        {{ form.submit(class="btn btn-primary m-2") }}
                        {% if 'edit' in request.endpoint %}
                        <button class="btn btn-primary m-2" hx-trigger="click, keyup[ctrlKey&&key=='s'] from:body"
                            hx-target="#alerts"
                            hx-post="{{ url_for('ajax.save_post', post_id=post.id) }}">Save
                        </button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 py-3">
            <h2>Post Preview</h2>
            <div id="blog-home-page-preview" class="pt-5 pb-4 border-bottom">
                <div class="border p-4 mb-2 shadow-sm">
                    <h3 id="blog-preview-title" class="mb-0">Post Title</h3>
                    <p class="mb-1 text-muted">{{ today.strftime('%B %-d, %Y') }}</p>
                    <p id="blog-preview-description" class="card-text mb-auto">Post Description...</p>
                    <a href="#">Continue reading</a>
                </div>
            </div>
            <div id="blog-post-preview" class="p-3">
                <p>Preview goes here.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var textarea = document.getElementById('blog-post-editor');
    var preview = document.getElementById('blog-post-preview');

    var md = window.markdownit().set({
        breaks: true,
        highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
                try {
                    return hljs.highlight(str, {
                        language: lang
                    }).value;
                } catch (__) {}
            }

            return ''; // use external default escaping
        }
    });

    textarea.addEventListener('input', updatePreviewValue);

    function updatePreviewValue(e) {
        preview.innerHTML = md.render(e.target.value);
    }

    var titleInput = document.getElementById('blog-post-title');
    var slugInput = document.getElementById('blog-post-slug');

    // https://gist.github.com/tarciozemel/ab483d44fb5333b866220a861d7114d3
    function slugify(text) {
        return text.toString().toLowerCase().trim()
            .normalize('NFD') // separate accent from letter
            .replace(/[\u0300-\u036f]/g, '') // remove all separated accents
            .replace(/\s+/g, '-') // replace spaces with -
            .replace(/&/g, '-and-') // replace & with 'and'
            .replace(/[^\w\-]+/g, '') // remove all non-word chars
            .replace(/\-\-+/g, '-') // replace multiple '-' with single '-'
    };

    titleInput.addEventListener('input', (e) => {
        slugifyTitle(e);
        updatePreviewTitle(e);
    });

    function slugifyTitle(e) {
        slugInput.value = slugify(e.target.value);
    };

    function updatePreviewTitle(e) {
        titlePreview.innerHTML = e.target.value;
    };

    var titlePreview = document.getElementById('blog-preview-title');

    var descriptionInput = document.getElementById('blog-post-description');
    var descriptionPreview = document.getElementById('blog-preview-description');

    descriptionInput.addEventListener('input', updatePreviewDescription);

    function updatePreviewDescription(e) {
        descriptionPreview.innerHTML = e.target.value;
    };
</script>
{% endblock %}