{% extends '_base.html' %}

{% block content %}
<main class="container py-3">
    {% include 'components/alerts.html' %}
    <h1>Image Manager</h1>
    <div class="mb-3">
        <form method="POST" action="{{ url_for('main.image_manager') }}" enctype="multipart/form-data">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control")}}
            {{ form.submit(class="btn btn-primary m-2") }}
        </form>
    </div>
    <div class="container">
        {% if image_list %}
        <h2 class="py-3">Available Images</h2>
        <div class="d-flex justify-content-evenly">
            <a class="text-reset" href hx-get="{{ url_for('ajax.sort_image_manager_images', asc=1) }}"
                hx-target="#images">
                <i class="bi bi-arrow-up"></i>
            </a>
            <div>
                Sort Images
            </div>
            <a class="text-reset" href hx-get="{{ url_for('ajax.sort_image_manager_images', asc=0) }}"
                hx-target="#images">
                <i class="bi bi-arrow-down"></i>
            </a>
        </div>
        <div id="images" class="container d-flex flex-wrap">
            {% for image in image_list %}
            <div class="p-2">
                <div class="d-flex flex-column align-items-center">
                    <figure class="figure">
                        <img class="img-thumbnail" style="max-width: 300px; height:auto"
                            src="static/uploads/{{ image }}">
                        <figcaption class="figure-caption">
                            {{ url_for('main.download_file', name=image, _external=True) }}</figcaption>
                    </figure>
                    <a class="text-reset" href hx-get="{{ url_for('ajax.delete_image_manager_image', image=image) }}"
                        hx-target="#images">
                        <i class="bi bi-x-square"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endif %}
    </div>
</main>
{% endblock %}