{% extends '_base.html' %}

{% block content %}
<main class="container py-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="py-2">
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Image Manager</h1>
    <div>
        <form method="POST" action="{{ url_for('main.image_manager') }}" enctype="multipart/form-data">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control")}}
            {{ form.submit(class="btn btn-primary m-2") }}
        </form>
    </div>
    <div>
        {% if image_list %}
        <h2>Available Images</h2>
        <ul>
            {% for image in image_list %}
            <li>{{ image }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</main>
{% endblock %}