{% extends '_base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
{% endblock %}

{% block content %}
<main class="container">
    {% include 'components/alerts.html' %}
    <div class="row pt-5">
        <div class="col-md-8">
            {% if post %}
            <h1>{{ post.title }}</h1>
            {% if post.state == 'published' %}
            <p class="mb-1 text-muted">{{ post.published_at.strftime('%B %-d, %Y') }}</p>
            {% else %}
            <p class="mb-1 text-muted">{{ post.created_at.strftime('%B %-d, %Y') }}</p>
            {% endif %}
            <div id="post-content" class="border-top py-4">
                {{ post.html | safe }}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 py-5">
            {% include 'components/recent-posts.html' %}
        </div>
    </div>
    {% if 'preview' in request.endpoint and 'temp' not in request.endpoint%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-danger">
            <a href="{{ url_for('main.edit', post_id=post.id) }}" class="text-decoration-none text-reset">Edit</a>
        </button>
        <form action="{{ url_for('main.publish', post_id=post.id) }}" method="POST">
            {% if post.state == 'published' %}
            <button type="submit" class="btn btn-success" disabled>Publish</button>
            {% else %}
            <button type="submit" class="btn btn-success">Publish</button>
            {% endif %}
        </form>
        <form action="{{ url_for('main.archive', post_id=post.id) }}" method="POST">
            {% if post.state == 'archived' %}
            <button type="submit" class="btn btn-dark" disabled>Archive</button>
            {% else %}
            <button type="submit" class="btn btn-dark">Archive</button>
            {% endif %}
        </form>
        <form action="{{ url_for('main.draft', post_id=post.id) }}" method="POST">
            {% if post.state == 'draft' %}
            <button type="submit" class="btn btn-warning" disabled>Draft</button>
            {% else %}
            <button type="submit" class="btn btn-warning">Draft</button>
            {% endif %}
        </form>
        <form action="{{ url_for('main.temp_preview_link', post_id=post.id) }}" method="POST">
            <button type="submit" class="btn btn-primary">Temp Preview</button>
        </form>
    </div>
    {% endif %}

    {% if comments %}
    <hr>
    <div class="col-md-6 col-sm-6">
        {% for comment in comments%}
        <div class="mb-4">
            <small class="py-3"><strong>{{ comment.user.username }}</strong></small>
            <br>
            <small><em>{{ moment(comment.created_at).fromNow() }}</em>
            </small>
            <p>{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif%}

    {% if form %}
    <hr>
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center">
            <div class="col-md-6 col-sm-6">
                <p>Questions, comments, concerns? Please feel free to leave a note below.</p>
                <form method="POST" action="{{ url_for('main.post', slug=slug) }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <!-- Email -->
                        <div class="form-group mb-1">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback font-weight-bold">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-md", placeholder="Email") }}
                            {% endif %}
                        </div>
                        <!-- Username -->
                        <div class="form-group mb-1">
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback font-weight-bold">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-md", placeholder="Username") }}
                            {% endif %}
                        </div>
                        <!-- Comment -->
                        <div class="form-group mb-1">
                            {% if form.comment.errors %}
                            {{ form.comment(class="form-control form-control-md is-invalid") }}
                            <div class="invalid-feedback font-weight-bold">
                                {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.comment(class="form-control form-control-md", placeholder="Comment") }}
                            {% endif %}
                        </div>
                        <div class="mt-1">
                            {% for error in form.recaptcha.errors %}
                            {{ error }}
                            {% endfor %}
                            {{ form.recaptcha }}
                        </div>
                        <!-- Button trigger modal -->
                        <div class="pt-1">
                            <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#commentConfirmationModal">
                                Submit
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="commentConfirmationModal" tabindex="-1"
                            aria-labelledby="commentConfirmationModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="commentConfirmationModalLabel">Are you sure?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="d-flex flex-row align-items-start">
                                                Please be respectful and kind! If you wouldn't say it to your mother,
                                                don't
                                                say
                                                it here.
                                                <br>
                                                <br>
                                                If I see something I don't like, I'll remove it.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hm, let
                                            me double-check.</button>
                                        {{ form.submit(class="btn btn-light") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</main>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>
{% endblock %}